<a href="#create"><button type="button" name="button" class="btn col-md-12">Create Post</button></a>
<a href="#read"><button type="button" name="button" class="btn col-md-12">Read Posts</button></a>
<a href="#edit"><button type="button" name="button" class="btn col-md-12">Edit Posts</button></a>
<a href="#list"><button type="button" name="button" class="btn col-md-12">Browse Posts</button></a>
