<div class="form-group">
  <label for="Title">Title:</label>
  <input type="text" name="" value="" placeholder="Blog Title">
  <label for="Body">Body:</label>
  <textarea name="name" rows="8" cols="80"></textarea>
</div>
