<div class="form-group">
  <label for="Title">Title:</label>
  <textarea name="name" rows="1" cols="30" id="title">{{title}}</textarea>
  <label for="Body">Body:</label>
  <textarea name="name" rows="8" cols="80" id="body">{{body}}</textarea>
</div>
<button type="submit" name="button" class="btn">Finish Edit</button>
