<button type="button" name="button" class="btn col-md-12">Create Post</button>
<button type="button" name="button" class="btn col-md-12">Read/Edit Posts</button>
<button type="button" name="button" class="btn col-md-12">Browse Posts</button>
