<div class="form-group">
  <label for="title">Title</label>
  <input type="text" name="" value="" id="title" placeholder="title" class ="form-control">
</div>
<div class="form-group">
  <label for="url">URL</label>
  <input type="text" name="" value="" id="url" placeholder="URL" class="form-control">
</div>
<button type="submit" name="button" class="btn">Submit</button>
<div class="buttonlist">
  <a href="#social"><button type="button" name="button" class="btn">Social Media</button></a>
  <a href="#music"><button type="button" name="button" class="btn">Music</button></a>
  <a href="#movies"><button type="button" name="button" class="btn">Movies</button></a>
  <a href="#games"><button type="button" name="button" class="btn">Games</button></a>
  <a href="#sports"><button type="button" name="button" class="btn">Sports</button></a>
  <a href="#finance"><button type="button" name="button" class="btn">Finance</button></a>
  <a href="#coding"><button type="button" name="button" class="btn">Coding</button></a>
</div>
