<div class="form-group">
  <label for="title">Title</label>
  <input type="text" name="" value="" id="title" placeholder="title">
</div>
<div class="form-group">
  <label for="url">URL</label>
  <input type="text" name="" value="" id="url" placeholder="URL">
</div>
<div class="form-group">

</div>
