<div class="form-group">
  <label for="first">First &amp; Last Name</label>
  <input id="first" type="text" class="form-control" placeholder="First Name">
  <input id="last" type="text" class="form-control" placeholder="Last Name">
</div>
<div class="form-group">
  <label for="address">Address</label>
  <input id="address" type="text" class="form-control" placeholder="Address">
</div>
<div class="form-group">
  <label for="phone">Phone Number</label>
  <input id="phone" type="text" class="form-control" placeholder="Phone #">
</div>
<button type="submit" name="button" class ="btn">Create</button>
